<div class="search-container box-shadow col-lg-10 col-md-11 col-11 floatl pad0">
	<div class="col-lg-12 col-md-12 col-12 floatl text-center">
		<h3>Select planets you want to search in :</h3>
		<form name="searchForm" id="searchForm" ng-submit="searchForm.$valid && findFalcone()" novalidate accessible-form>
			<div class="col-lg-3 col-md-6 col-12 floatl text-left mar-top-20 pad0" ng-repeat="item in [].constructor(4) track by $index">
				<div class="col-lg-12 col-md-12 col-12 floatl text-left">
					<span>Destination {{$index+1}}</span>
					<select ng-model="find.planet[$index]" class="search-select" ng-change="getPlanets($index)" required>
						<option disabled selected value="">Select</option>
						<option ng-repeat="planet in planets[$index]" value={{planet}}>{{planet.name}}</option>
					</select>
				</div>
				<div class="col-lg-12 col-md-12 col-12 floatl text-left" ng-if="showVehicles[$index] == true">
					<div class="col-lg-12 col-md-12 col-12 floatl text-left custom-radio-css" ng-repeat="vehicle in vehicles[$index] track by $index" ng-class="{'disabled-label':vehicle.total_no <= 0 && find.vehicle[$parent.$index] != vehicle.name}">
						<input type="radio" id={{vehiclesRadio[$parent.$index].ids[$index]}} name={{vehiclesRadio[$parent.$index].name}} value={{vehicle.name}} ng-model="find.vehicle[$parent.$index]" ng-click="getVehicles($parent.$index,$index)" ng-disabled="vehicle.total_no <= 0" required>
						<label for={{vehiclesRadio[$parent.$index].ids[$index]}}><span></span>{{vehicle.name}} ({{vehicle.total_no}})</label>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-12 floatl text-left pad0" ng-class="{'button-div':screenSize != 'mobile'}">
				<div class="col-lg-12 col-md-12 col-12 floatl text-center">
					<h3 class="search-container2-h3" ng-if="totalTime > 0">Total time taken : {{totalTime}}</h3>
				</div>
				<div class="col-lg-12 col-md-12 col-12 floatl text-center">
					<button value="submit" class="main-button">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
<modal-dialog show="tokenError">
	<h4>Error</h4>
	<p>Authorization token has expired. Please reset the game.</p>
	<button type="button" ng-click="load()">Play Again</button>
</modal-dialog>