.info_div {
  width: 50%;
  float: left;
  text-align: center;
  height: 200px;
}
.info_section {
  width: 30%;
  padding: 19%;
  border-radius: 100%;
  background: white;
  margin: auto;
  height: 50px;
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3);
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3);
  font-size: 30px;
}
.info_div p {
  text-align: center;
}
.dashbpardDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
