.header {
		height: 40px;
    background: #ffd83d;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3);
    color: #627078;
    font-size: 24px;
		position: relative;
}
.user_button {
		height: 25px;
    position: absolute;
    left: 90%;
    top: 12px;
    cursor: pointer;
		outline: none;
}
.menu_drop {
		box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3);
    width: 30%;
    float: right;
    position: absolute;
    top: 50px;
    background: white;
    left: 70%;
    font-size: 20px;
    height: 30px;
    padding: 5px 0;
}
