body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: Arial;
	background: #f4f4f4;
	line-height: 1.5;
	color: #627078;
}
@media only screen and (min-width: 425px) {
    body {
        width: 425px;
				border:1px solid #ddd;
				margin: 50px auto;
    }
}
h2 {
  text-align: center;
  font-weight: normal;
}
input {
  height: 25px;
  border: 1px solid #a9a9a9;
  color: #444;
  width: 95%;
  padding: 5px;
}
button {
  border: none;
  height: 40px;
  background: #ffd83d;
  width: 40%;
  font-size: 18px;
}
button, input {
	outline: none;
}
.error {
	color: #bd4931;
	font-size: 14px;
}
a {
  text-decoration: none;
  color: #3498ff;
  font-size: 16px;
	cursor: pointer;
}
