.loginDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
p {
  text-align: left;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #3498ff;
  font-size: 16px;
}
.loginDiv button {
  margin-top: 10px;
}
.forgetLink {
  text-align: right;
}
.forgetLink a {
  color: #bd4931 !important;
}
