.registerDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
p {
  text-align: left;
  font-size: 16px;
}
.registerDiv button {
  margin-top: 10px;
}
.mandatoryClass {
  margin: 0;
}
.registerSuccessClass {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}
